<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalcPrecoPrazoWSSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CalcPrecoPrazoWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalcPrecoPrazoWSSoap"
                contract="wsCalculaPrecoPrazo.CalcPrecoPrazoWSSoap" name="CalcPrecoPrazoWSSoap" />
            <endpoint address="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx"
                binding="customBinding" bindingConfiguration="CalcPrecoPrazoWSSoap12"
                contract="wsCalculaPrecoPrazo.CalcPrecoPrazoWSSoap" name="CalcPrecoPrazoWSSoap12" />
        </client>
    </system.serviceModel>
</configuration>